USE [CameraFinder]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/21/2020 8:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[RoleId] [nvarchar](36) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Account_1] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 7/21/2020 8:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](500) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Camera]    Script Date: 7/21/2020 8:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camera](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[CategoryId] [nvarchar](36) NOT NULL,
	[BrandId] [nvarchar](36) NOT NULL,
	[Price] [float] NOT NULL,
	[Megapixel] [float] NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Camera] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Capacity]    Script Date: 7/21/2020 8:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capacity](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Capacity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 7/21/2020 8:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[CapacityId] [nvarchar](36) NOT NULL,
	[Price] [float] NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/21/2020 8:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/21/2020 8:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CanActiveAccount] [bit] NULL,
	[CanActiveRole] [bit] NULL,
	[CanActiveBrand] [bit] NULL,
	[CanActiveCategory] [bit] NULL,
	[CanActiveCapacity] [bit] NULL,
	[CanActiveCamera] [bit] NULL,
	[CanActiveCard] [bit] NULL,
	[CanActiveCrawler] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Username], [Fullname], [Password], [Phone], [Email], [RoleId], [Address]) VALUES (N'tien', N'Đào Ngọc Tiến', N'hongcolap', N'1561456146146146146146146146', N'abc@abc.com', N'a21d9108-5b6b-4465-ab5a-13450dc2c882', N'HCM')
INSERT [dbo].[Account] ([Username], [Fullname], [Password], [Phone], [Email], [RoleId], [Address]) VALUES (N'vinhdk', N'Đặng Khánh Vinh', N'4313004eya', N'0902818547', N'anlalayker@gmail.com', N'5786a440-1448-4a37-9f93-305dc48d0bf0', N'HCM')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (N'03bec2b6-2df4-4eda-ab91-8c252c60f477', N'Pentax')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (N'25b5270e-7091-43c3-ad43-1ed3169cb324', N'Olympus')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (N'41b3cd3a-438f-49fa-93d7-4cfa81ccc6b2', N'Panasonic')
INSERT [dbo].[Camera] ([Id], [Name], [CategoryId], [BrandId], [Price], [Megapixel], [Image], [Url]) VALUES (N'002820fb-abaf-4b28-af27-fcf0b1b35918', N'Sony A7R mark IV + 24-105mm F/4.0 G OSS', N'362ac753-5229-433f-a949-352b40cb1a13', N'70418cc5-092e-4da4-9265-9ffafbf01833', 5198, 6.0999999046325684, N'https://static.fotokonijnenberg.nl/media/catalog/product/cache/small_image/800x/9df78eab33525d08d6e5fb8d27136e95/s/o/sony_a7r_mark_iv__24105mm_f40_g_oss_kx1231045514532e5897a381dc6fb69a71bd25544f7db6017ff.jpg', N'https://www.photospecialist.com/sony-a7r-mark-iv-24-105mm-f-4-0-g-oss')
GO
INSERT [dbo].[Capacity] ([Id], [Name]) VALUES (N'0c690aba-66e3-4e5a-88d7-3be128f1ebe4', N'30GB')
INSERT [dbo].[Capacity] ([Id], [Name]) VALUES (N'294f4834-50be-40a8-bcd2-d380fc565a40', N'16GB')
INSERT [dbo].[Capacity] ([Id], [Name]) VALUES (N'2cacab6b-a4ec-4c7f-bc8c-dcd294cc2000', N'240GB')
INSERT [dbo].[Card] ([Id], [Name], [CapacityId], [Price], [Image], [Url]) VALUES (N'001a91e9-5bda-44a6-bb48-f3a2f556a00c', N'SanDisk 64GB Extreme PRO CompactFlash and 64GB Extreme PRO UHS-I SDXC Memory Card Kit', N'ed2f6f16-8774-41a3-a471-c2a1e8f232a8', 84, N'https://static.bhphoto.com/images/itemImgPlaceholder.jpg', N'https://www.bhphotovideo.com/c/product/1277038-REG/sandisk_64gb_extreme_pro_compactflash.html')
INSERT [dbo].[Card] ([Id], [Name], [CapacityId], [Price], [Image], [Url]) VALUES (N'00663996-881d-4c8d-b29e-a2802ab4ea8c', N'Transcend 4GB SDHC Memory Card Class 10', N'3b57189c-0cfc-44fd-bfec-81b646c8dde0', 7, N'https://static.bhphoto.com/images/images345x345/1304940692_700163.jpg', N'https://www.bhphotovideo.com/c/product/700163-REG/Transcend_TS4GSDHC10_4GB_SDHC_Card.html')
INSERT [dbo].[Card] ([Id], [Name], [CapacityId], [Price], [Image], [Url]) VALUES (N'007e8aa1-c3c8-4f12-b6fa-30a0b69528b4', N'Sony 128GB SxS-1 (G1C) Memory Card', N'e020808d-2878-4e43-a82b-b073e5659842', 499, N'https://static.bhphoto.com/images/itemImgPlaceholder.jpg', N'https://www.bhphotovideo.com/c/product/1314820-REG/sony_sbs128g1c_sxs_1_128gb_440_200_mbs.html')
GO
INSERT [dbo].[Category] ([Id], [Name]) VALUES (N'0b587429-ed6b-4343-8f75-96278b1abf02', N'Compact')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (N'0f33ea3c-1dab-4efe-b20b-81b39a52770c', N'Analog')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (N'26c7f613-f3d3-43e8-9b40-d3429fe1cbee', N'Rangefinder')
INSERT [dbo].[Role] ([Id], [Name], [CanActiveAccount], [CanActiveRole], [CanActiveBrand], [CanActiveCategory], [CanActiveCapacity], [CanActiveCamera], [CanActiveCard], [CanActiveCrawler]) VALUES (N'5786a440-1448-4a37-9f93-305dc48d0bf0', N'Admin', 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[Role] ([Id], [Name], [CanActiveAccount], [CanActiveRole], [CanActiveBrand], [CanActiveCategory], [CanActiveCapacity], [CanActiveCamera], [CanActiveCard], [CanActiveCrawler]) VALUES (N'a21d9108-5b6b-4465-ab5a-13450dc2c882', N'Manager', 0, 0, 1, 1, 1, 1, 1, 0)
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Camera]  WITH CHECK ADD  CONSTRAINT [FK_Camera_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([Id])
GO
ALTER TABLE [dbo].[Camera] CHECK CONSTRAINT [FK_Camera_Brand]
GO
ALTER TABLE [dbo].[Camera]  WITH CHECK ADD  CONSTRAINT [FK_Camera_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Camera] CHECK CONSTRAINT [FK_Camera_Category]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_Capacity] FOREIGN KEY([CapacityId])
REFERENCES [dbo].[Capacity] ([Id])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_Capacity]
GO
