<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>vinhdk.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>vinhdk.controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>vinhdk.controllers.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleController</servlet-name>
        <servlet-class>vinhdk.controllers.RoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>vinhdk.controllers.BrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>vinhdk.controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CameraController</servlet-name>
        <servlet-class>vinhdk.controllers.CameraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardController</servlet-name>
        <servlet-class>vinhdk.controllers.CardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlerController</servlet-name>
        <servlet-class>vinhdk.controllers.CrawlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapacityController</servlet-name>
        <servlet-class>vinhdk.controllers.CapacityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>vinhdk.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>vinhdk.controllers.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>vinhdk.controllers.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>vinhdk.controllers.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFController</servlet-name>
        <servlet-class>vinhdk.controllers.PDFController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XMLController</servlet-name>
        <servlet-class>vinhdk.controllers.XMLController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleController</servlet-name>
        <url-pattern>/RoleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/BrandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CameraController</servlet-name>
        <url-pattern>/CameraController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardController</servlet-name>
        <url-pattern>/CardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlerController</servlet-name>
        <url-pattern>/CrawlerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapacityController</servlet-name>
        <url-pattern>/CapacityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/ErrorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/TestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/AuthController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFController</servlet-name>
        <url-pattern>/PDFController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XMLController</servlet-name>
        <url-pattern>/XMLController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>WEB-RENDER/src/app/auth/auth.jsp</welcome-file>
    </welcome-file-list>
</web-app>
